

.form-add {
    /* Size and position */
    width:505px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
	height:auto;
    position: relative;

    /* Styles */
    background:bisque url(../images/wood_pattern.jpg);
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
.form-add fieldset
{
border:none;
}
.left{
    /* Size and position */
    width:200px;
    margin: auto;
	margin-right:6px;
	margin-left:6px;
    margin-top: 20px;
    padding: 15px;
	height:300px;
    position: relative;
	float:left;
    /* Styles */
    background: lightblue;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form-add label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form-add label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.form-add input[type=text],
.form-add input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-add input[type=text]:hover,
.form-add input[type=password]:hover {
    border-color: #CCC;
}

.form-add label:hover ~ input {
    border-color: #CCC;
}

.form-add input[type=text]:focus,
.form-add input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.form-add input[type=file] {
    /* Size and position */
    width: 100%;
    height: 38px;
    float: left;
    position: relative;
	padding:10px 10px 30px 10px;
	color:black;
    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 5px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
	 border-color: #CCC;
	 background: bisque;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}
.form-add select {
    /* Size and position */
    width: 100%;
    height: 28px;
    float: left;
    position: relative;
	margin-bottom: 5px;
    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
	border-color: #BBB;
    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}



.form-add input[type=submit]:active,
.form-add .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form-add input[type=submit]:hover {
    background: #ffb347;
}



.form-add label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.form-add input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}
.form-add .submit button{
    width: 55px;
    height: 45px;
    position: absolute;
    top: 260px;
	left:40%;
    padding: 10px;
    z-index: 2;
	cursor:hand;
	color:red;
	text-transform:uppercase;
	font-weight:BOLD;
    /* Styles */
    background: #ffffff;
    border-radius: 60%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
		
		
}